.CheckboxField {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 16px;
  font-size: 14px;
}

.option {
  display: flex;
  align-items: center;
  gap: 1em;

  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

  /* When the checkbox is checked, add a blue background */
  &:checked ~ .checkmark {
    background-color: #4186f3;

    /* Show the checkmark when checked */
    &:after {
      display: block;
    }
  }
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  height: 24px;
  width: 24px;
  background-color: #eee;
  border-radius: 4px;

  &:after {
    display: none; // Hide the checkmark when the checkbox is not checked.
    content: "";

    // Position.
    position: absolute;
    left: 9px;
    top: 5px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

    // Size.
    width: 4px;
    height: 8px;

    // Decorations.
    border: solid white;
    border-width: 0 2px 3px 0;
  }
}