.Form {
}

.Title {
  margin-bottom: 0.3em;
}

.Instructions {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: rgba(black, 0.7);
  margin-bottom: 0.5em;
}

.Row {
  gap: 14px;
}

.Footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  border-top: 1px solid rgba(black, 0.1);
  margin-top: 2em;
  padding-top: 2em;
}
