.Progress {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  margin-bottom: 2em;
  user-select: none;

  .Circle {
    cursor: pointer;
    border-radius: 50%;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    border: 2px solid rgba(black, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-weight: 800;
    color: rgba(black, 0.3);

    &.done {
      background: rgba(black, 0.3);
      border-color: transparent;
      color: white;
    }

    &.current {
      background-color: #4186f3;
      border-color: transparent;
      color: white;
    }
  }

  .Line {
    display: block;
    width: 120px;
    flex-shrink: 1;
    height: 2px;
    background-color: rgba(black, 0.15);
  }
}